.benefit__main {
    padding: 0;
    margin: 24px 0 0;
    max-width: 584px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(132, 143, 172, 1);
}