.reservation__main {
    margin: 24px 0 0;
    max-width: 588px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #848FAC;
    text-align: center;
}